/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/



* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}




body {
  background-image: url("img/bg.jpg");
  background-repeat: repeat;
}

body div {
  margin: 10px 120px;
}


#site_header {
  background-color: #ff8523;
  width: 100%;
  height: 150px;
}

.main_navigation {
  width: 600px;
  height: 100%;
}






/*################ Table ################*/


.table_content {

}

.bottom_border {

}

.name {

}

.breed_container {

}

.textarea_container {

}

.submit_container {

}
